<!DOCTYPE html>
<html lang="it">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inserisci Offerta di Tirocinio</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <a href="Dashboard.html">← Torna alla Dashboard</a>
  <div class="container">
    <div class="form-box">
      <h2>Inserire nuova Offerta di Tirocinio</h2>

      <form>
        <label for="azienda">Nome Azienda</label>
        <input type="text" id="azienda" name="azienda" required>

        <label for="durata">Durata Tirocinio</label>
        <input type="text" id="durata" name="durata" required>

        <label for="mansione">Tipo di Mansione</label>
        <input type="text" id="mansione" name="mansione" required>

        <label for="competenze_richieste">Competenze Richieste</label>
        <textarea id="competenze_richieste" name="competenze_richieste" required></textarea>

        <label for="competenze_acquisite">Competenze Acquisite</label>
        <textarea id="competenze_acquisite" name="competenze_acquisite" required></textarea>

        <button type="submit">Inserisci Offerta</button>
      </form>
    </div>




  </div>
  <div class="eliminazione">
    <div>
      <h2>Elimina offerte di tirocinio</h2>
    </div>
  </div>


  <div class="annunci" th:each="annuncio : ${listaAnnunci}" >

    <div class="annuncio-card">
		
      <div class="dati-annuncio">
		
        <div class="dato-item">
          <span class="etichetta">Azienda:</span>
          <span class="valore" th:text="${annuncio.azienda.nome}"></span>
        </div>
		
        <div class="dato-item">
          <span class="etichetta">Durata:</span>
          <span class="valore"  th:text="@{${annuncio.durata} + ' giorni'}"></span>
        </div>
		
        <div class="dato-item">
          <span class="etichetta">Tipo:</span>
          <span class="valore" th:text="${annuncio.tipoMansione}"></span>
        </div>
      </div>
	  
      <button class="btn-candidati">Elimina Offerta</button>
    </div>
	
  </div>
</body>

</html>