<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StageUp</title>
    <link rel="stylesheet" th:href="@{/css/Auth/signup.css}">
</head>

<body>

    <div><a th:href="@{/auth/login}">← Torna alla pagina di LogIn</a></div>
    
    <div class="registrazione">
        <h2 class="titolo">Pagina di registrazione</h2>

        <form th:action="@{/auth/signup}" method="POST" class="form">

            <input type="text" id="name" name="nome" placeholder="Inserisci Nome" required>

            <input type="text" id="surname" name="cognome" placeholder="Inserisci Cognome" required>

            <input type="text" id="username" name="email" placeholder="Inserisci una Email" required>

            <input type="password" id="password" name="password" placeholder="Scegli una Password" required>
			
			<button type="submit">Registrati</button>
        </form>

       
    </div>

</body>

</html>